*__pycache__*
src/python/build/*
src/python/DoublePendulum.egg-info
src/cpp/bin/*
src/cpp/controllers/ilqr/bin/*
src/cpp/controllers/ilqr/obj/*
src/cpp/python/*.so
examples/outcmaes/*
examples/ideal/data/*
examples/realistic/data/*
examples/analysis/data/*
examples/benchmarks/data/*
examples/parameter_optimization/data/*
examples/reimplemented_papers/data/*
examples/paper/data/*
experiments/data/*
docs/build/*
docs/text/generated/*
results*
test/acrobot.urdf
test/pendubot.urdf
leaderboard/simulation/acrobot/data/*
leaderboard/robustness/acrobot/data/*
leaderboard/simulation/pendubot/data/*
leaderboard/robustness/pendubot/data/*
.idea/

examples/reinforcement_learning/PPO/log_data/*
examples/reinforcement_learning/SAC/log_data_designC.1/*
examples/reinforcement_learning/General/log_data/
examples/reinforcement_learning/SAC_Local/log_data/*

examples/reinforcement_learning/General/old

leaderboard/acrobot/simulation_v1/data/*
leaderboard/acrobot/robustness_v1/data/*
leaderboard/acrobot/real_hardware_v1/data/*
leaderboard/acrobot/real_hardware_v1/src_data/*
leaderboard/pendubot/simulation_v1/data/*
leaderboard/pendubot/robustness_v1/data/*
leaderboard/pendubot/real_hardware_v1/data/*
leaderboard/pendubot/real_hardware_v1/src_data/*
leaderboard/acrobot/simulation_v2/data/*
leaderboard/acrobot/robustness_v2/data/*
leaderboard/pendubot/simulation_v2/data/*
leaderboard/pendubot/robustness_v2/data/*
data/experiment_records/*
*local*


*.prof
